apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ${APP_NAME}-ingress
  annotations:
    app.kubernetes.io/name: ${APP_NAME}-ingress
    app.kubernetes.io/version: ${COMMIT_HASH}
    app.kubernetes.io/managed-by: github
    app.kubernetes.io/component: ingress
    app.kubernetes.io/part-of: ${APP_NAME}-svc
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig":{ "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/certificate-arn: ${ARNCERTIFICATEK8S}
    alb.ingress.kubernetes.io/healthcheck-path: ${HEALTHCHECKK8S}
    alb.ingress.kubernetes.io/success-codes: '200,401'
    external-dns.alpha.kubernetes.io/hostname: ${APP_NAME}.${K8S_DNS}.${AWS_REGION}.${SQUAD}.wefox.cloud
  labels:
    app: ${APP_NAME}-ingress
    app.kubernetes.io/name: ${APP_NAME}-ingress
spec:
  rules:
    - host: ${APP_NAME}.${K8S_DNS}.${AWS_REGION}.${SQUAD}.wefox.cloud
      http:
        paths:
          - backend:
              serviceName: ssl-redirect
              servicePort: use-annotation
            path: /*
          - backend:
              serviceName: ${APP_NAME}-svc
              servicePort: 80
            path: /*
    - host: ${URL}
      http:
        paths:
          - backend:
              serviceName: ssl-redirect
              servicePort: use-annotation
            path: /*
          - backend:
              serviceName: ${APP_NAME}-svc
              servicePort: 80
            path: /*
